@font-face {
   font-family: battlecon_font;
   src: url(/font/ANGRYBLU.TTF);
}

@font-face {
   font-family: battlecon_cont_font;
   src: url(/font/ANGRC___.TTF);
}

.battlecon_fonted {
   font-family: battlecon_font;
}

.battlecon_cont_fonted {
   font-family: battlecon_cont_font;
}