.thumbnail:hover {
    position:relative;
    top:-25px; left:-35px;
    width:500px; height:auto;
    display:block; z-index:999;
}
body:after {
    content : ""; display: block;
    position: absolute;
    top: 0; left: 0;
    background-image: url(/img/bckgrnd.jpg);
    background-position: center center;
    background-size:     cover;
    width: 100%; height: 100%;
    opacity : 0.65; z-index: -2;
}

.section_head_p {
     font-size:500%;
     margin-bottom:40px;
     margin-top:30px;
     margin-right: auto;
     margin-left: auto;
     display:table;
     z-index:-1;
}
.pair_head_p {
     font-size:500%;
     margin-bottom:40px;
     margin-top: 40px;
     margin-right: auto;
     margin-left: auto;
     z-index:-1;
}

.title_selected_style {
    text-decoration:underline;
    text-shadow: -1px 0 rgb(172, 10, 10), 0 1px rgb(172, 10, 10), 1px 0 rgb(172, 10, 10), 0 -1px rgb(172, 10, 10);
}

.title_selected_base {
    text-decoration:underline;
    text-shadow: -1px 0 rgb(18, 15, 153), 0 1px rgb(18, 15, 153), 1px 0 rgb(18, 15, 153), 0 -1px rgb(18, 15, 153);
}

body {
    color: #000;
}

#style_header {
    border: solid;
    border-width: 3px;
    border-radius:10px;
    padding:3px;
    background-color:rgba(0, 0, 0,.2);
}

#base_header {
    border: solid;
    border-width: 3px;
    border-radius:10px;
    padding:3px;
    background-color:rgba(0, 0, 0,.2);
}

#style_header:hover {
    background-color:rgba(0, 0, 0,.4);
    cursor: default;
}

#base_header:hover {
    background-color:rgba(0, 0, 0,.4);
    cursor: default;
}