.thumbnail:hover {
    position:relative;
    top:-25px; left:-35px;
    width:500px; height:auto;
    display:block; z-index:999;
}
body:after {
    content : ""; display: block;
    position: absolute;
    top: 0; left: 0;
    background-image: url(/img/bckgrnd.jpg);
    background-position: center center;
    background-size:     cover;
    width: 100%; height: 100%;
    opacity : 0.65; z-index: -2;
}

.section_head_p {
     font-size:400%;
     margin-bottom:40px;
     margin-top:30px;
     margin-right: auto;
     margin-left: auto;
     display:table;
}
.pair_head_p {
     font-size:400%;
     margin-bottom:40px;
     margin-top: 40px;
     margin-right: auto;
     margin-left: auto;
}

.title_selected {
    text-decoration:underline;
}

body {
    color: #000;
}