/* Image Grow and Shrink */
.grow {
  transition: all .2s ease-in-out;
  width: 125px;
  height: 175px;
}

.grow:hover {
  transform: scale(2);
  box-shadow: 0px 0px 40px #222;
}

.rounded {
  border-radius: 3px;
}

.range {
  width: 125px;
  height: 125px;
}

/* Pulsate Blue */
@keyframes border-pulsate-blue {
  0% {
    border-color: #120f99;
  }
  50% {
    border-color: rgba(18, 15, 153, 0);
  }
  100% {
    border-color: #120f99;
  }
}

.pulse_image_blue {
  border: 7px solid cyan;
  border-left: 9px solid cyan;
  border-radius: 8px;
  animation: border-pulsate-blue 1s infinite;
}

/*Pulsate Red*/
@keyframes border-pulsate-red {
  0% {
    border-color: #ac0a0a;
  }
  50% {
    border-color: rgba(172, 10, 10, 0);
  }
  100% {
    border-color: #ac0a0a;
  }
}

.pulse_image_red {
  border: 7px solid red;
  border-right: 9px solid red;
  border-radius: 8px;
  animation: border-pulsate-red 1s infinite;
}

/* Style and Base Pair */
.pair {
  margin: auto;
  text-align: center;
}

.pair .pair_style {
  transition: all .2s ease-in-out;
  width: 215px;
  height: 225px;
  padding-right: 53px;
  border-radius: 3px;
}

.pair:hover .pair_style {
  transform: scale(2);
}

.pair .pair_base {
  transition: all .2s ease-in-out;
  width: 215px;
  height: 225px;
  padding-left: 52px;
  border-radius: 3px;
}

.pair:hover .pair_base {
  transform: scale(2);
}
