.secret {
    display:none;
}
div.secret p {
    display:none;
}

.bval {
    font-size: 1.4em;
    display:block; word-wrap:break-word;
}
.sval {
    font-size: 1.4em;
    display:block; word-wrap:break-word;
}
.property {
    color:white;
    display: none;
    border-radius: 3px;
    background-color: rgba(26, 31, 50, 1);
    z-index:-1;
}
.property_box {
    height:450px;
    overflow:scroll;
    overflow-x: hidden;
    overflow-y: auto;
}
.property_header {
    font-size:1.8em;
}

.statistic {
    position:relative;
    color:white;
    display:none;
    border-radius: 3px;
    background-color: rgba(26, 31, 50, 1);
}
.sval.stat {
    display:none;
}
.bval.stat {
    display:none;
}

.panel {
    margin-bottom: 5px;
}
.property > .panel-heading {
  background-color: rgba(16, 21, 40, 1);
}
.statistic > .panel-heading {
  background-color: rgba(16, 21, 40, 1);
}

.char_button {
    margin: 10px;
}

.btn-danger {
    border-color: rgb(14, 19, 38) !important;
    background-color: rgb(16, 21, 40) !important;
    background-image:none;
    border-radius: 15px !important;
    margin: 3px;
}

.btn-danger:hover
{
    border-color: rgb(24, 41, 106) !important;
    background-color: rgb(37, 53, 111) !important;
    background-image:none;
}

.btn-danger.focus {
  border-color: rgb(34, 39, 58) !important;
  background-color: rgb(16, 41, 60) !important;
}

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  border-color: rgb(14, 19, 38) !important;
  background-color: rgb(16, 21, 40) !important;
  border-radius: 15px !important;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
  border-color: rgb(14, 19, 38) !important;
  background-color: rgb(16, 21, 40) !important;
}

.btn-danger .badge {
  border-color: rgb(14, 19, 38) !important;
  background-color: rgb(16, 21, 40) !important;
}