.secret {
    display:none;
}
div.secret p {
    display:none;
}

.bval {
    font-size: 1.3em;
    display:block; word-wrap:break-word;
}
.sval {
    font-size: 1.3em;
    display:block; word-wrap:break-word;
}
.property {
    color:white;
    display: none;
    border-radius: 3px;
    background-color: rgba(26, 31, 50, 1);
    z-index:-1;
}
.property_box {
    height:420px;
    overflow:scroll;
    overflow-x: hidden;
    overflow-y: auto;
}
.property_header {
    font-size:1.8em;
    text-align: center;
}

.statistic {
    position:relative;
    color:white;
    display:none;
    border-radius: 3px;
    background-color: rgba(26, 31, 50, 1);
    z-index:-1;
}
.sval.stat {
    display:none;
}
.bval.stat {
    display:none;
}

.panel {
    margin-bottom: 5px;
}
.property > .panel-heading {
  background-color: rgba(16, 21, 40, 1);
}
.statistic > .panel-heading {
  background-color: rgba(16, 21, 40, 1);
}

.char_button {
    margin: 10px;
}